.header{
   background-color: #808080;
   display : flex;
   justify-content: space-between;
}

.grid{
    background-color:#400000;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color: #000099;
    display : flex;
    justify-content: flex-end;
    
}